<%- include('./partials/header',
 { title: 'App ' + user.name,
  homeLink: '/home' ,
   addPost: 'none' ,
   showSearch: 'inline', 
   userLink: '/dashboard' ,
  userImage: user.image,
   userName: user.name, 
   item1: 'dashboard' , 
   item2: 'home' ,
    item3: 'logout' ,
    home: 'Home page',
     link1: '/dashboard' ,
      link2: '/home' ,
       link3: '/users/logout' }); %>

<div class="row mt-5">
    <div class="col-md-10 m-auto">
      <div class="card card-body">
                <form class='add-form' id='postForm' action="/post/<%= post._id%>" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="card card-body bg-light mb-4">
                        <div class="d-flex flex-start">
                            <img class="rounded-circle shadow-1-strong me-3" src="<%= user.image %>" alt="avatar"
                                width="40" height="40" />
                            <div class="form-outline w-100 ml-2">
                                <textarea id="description" name="description" class="form-control" rows="4"
                                    style="background: #fff;" value="<%= typeof description != 'undefined' ? description : '' %>"
                                    ><%=post.description %></textarea>
                                <label class="form-label text-muted small" for="textAreaExample">Post
                                    here</label>
                                <textarea id="image" name="image" class="form-control" rows="1"
                                    style="background: #fff;"
                                    value="<%= typeof image != 'undefined' ? image : '' %>"><%= post.image %></textarea>
                                <label class="form-label text-muted small" for="textAreaExample">Image URL
                                    here</label>
                            </div>
                        </div>
                        <select id="status" name="status" class="form-control form-group col-md-4 form-control-sm">
                            <% if(post.status){%>
                                <option value=true selected>Public</option>
                                <option value=false>Private</option>
                            <% }else{ %>
                                <option value=true>Public</option>
                                <option value=false selected>Private</option>
                            <% } %>    
                        </select>
                        <input name="loc" style="display: none;" value='<%=loc%>'></input>
                        <div class="float-end mt-2 pt-1">
                            <button type="submit" class="btn btn-primary btn-sm">Post story</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>